
.chosen > .content {
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 8px;
	border: 1px soild black;

} 

.content, #proj0 {
	display: none;
	background-color: #c2d6ff;
	margin-top: 0px;
	margin-bottom: 0px;

}

.title {
	background-color: #4d7ec9;
	margin-top: 0px;
	margin-bottom: 0px;
	border: 1px solid black;
	padding: 8px;
}

textarea {
	width: 90%;
	padding: 8px;
}

button {
	font-size: 20px;
	border-radius: 5px;
}

body {
	font-family: Arial;
	font-size: 20px;
}

table {
	width: 90%;
	font-size: 15px;
}